#topping-choices {
  display: none;
  font-size: 15px;
}

#size-choice {
  display: none;
  font-size: 15px;
}

#total-cost {
  display: none;
}



h1 {
  color: blue;
  font-weight: bolder;
}

h3 {
  color: brown;
  font-weight: bolder;
}

p {
  color: green;
  font-weight: bolder;
  font-size: 20px;
}

.toppingTitles {
  font-size: 20px;
  font-weight: bolder;
}

.sizeChoices {
  font-size: 20px;
  font-weight: bolder;

}

.result {
  font-size: 20px;
  font-weight: bolder;
}

.jumbotron {
    background-image: url("../img/pizza2.gif");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
  }

body {
  background-color: #ff0000;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

#total-cost {
  display: none;
}

.background {
  background-color: #1E6696;
}

h2 {
  color: darkblue;
  font-weight: bolder;
}

h4 {
  color: brown;
  font-weight: bolder;
}

h1 {
  color: brown;
  font-style: oblique;
}
