#topping-choices {
  display: none;
  font-size: 15px;
}

#size-choice {
  display: none;
  font-size: 15px;
}

#total-cost {
  display: none;
}

.background {
  background-color: #1E6696;
}

h2 {
  color: darkblue;
  font-weight: bolder;
}

h4 {
  color: brown;
  font-weight: bolder;
}

h1 {
  color: brown;
  font-style: oblique;
}

p {
  color: green;
  font-weight: bolder;
  font-size: 20px;
}
input {
  font-size: 32px;
}
.jumbotron {
  background-color: #C19D67;
}
